.carList {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 71px;
}

.emptyWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100vw;
  font-size: 40px;
  font-weight: bold;
}
