.detailsSection {
  margin-top: 68px;
  margin-bottom: 28px;
}

.imgWrap {
  position: relative;
  margin-bottom: 28px;
  width: 330px;
}

.svgHeart {
  fill: var(--color-blue);
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (min-width: 768px) {
  .detailsSection {
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .imgWrap {
    margin-bottom: 32px;
    width: 720px;
  }

  .imgWrap img {
    width: 100%;
  }

  .svgHeart {
    right: 40px;
    top: 40px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 1260px) {
  .detailsSection {
    margin-top: 152px;
    display: flex;
    gap: 72px;
  }

  .imgWrap {
    flex-shrink: 0;
    margin-bottom: 40px;
    width: 640px;
  }

  .svgHeart {
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
  }
}
