.detailsSection {
  margin-top: 152px;
  margin-bottom: 60px;
  display: flex;
  gap: 72px;
}

.imgWrap {
  position: relative;
  flex-shrink: 0;
  margin-bottom: 60px;
  width: 640px;
}

.svgHeart {
  fill: var(--color-blue);
  position: absolute;
  right: 30px;
  top: 30px;
}
