.header {
  position: relative;
  background-color: var(--color-light-grey);
}

.wrapForAbs {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color-light-grey);
}

.navWrap {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 90px;
}

.navWrap nav {
  display: flex;
  gap: 16px;
}

.link {
  color: var(--color-dark);
  padding-top: 12px;
  padding-bottom: 12px;
  transition: color var(--transition-default);
}

.link:hover {
  color: var(--color-blue-dark);
}

.active {
  color: var(--color-blue-dark);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 104px;
  }

  .navWrap nav {
    gap: 32px;
  }

  .link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .navWrap {
    max-width: 768px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1260px) {
  .navWrap {
    max-width: 1260px;
    padding: 0 30px;
  }
}
