.header {
  position: relative;
}

.wrapForAbs {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-light-grey);
  z-index: 1000;
}

.navWrap {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navWrap nav {
  display: flex;
  gap: 32px;
}

.link {
  color: var(--color-dark);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transition-default);
}

.link:hover {
  color: var(--color-blue-dark);
}

.active {
  color: var(--color-blue-dark);
}
