:root {
  /* colors */
  --color-dark: #101828;
  --color-grey: #8e929a;
  --color-blue: #3470ff;
  --color-blue-dark: #0b44cd;
  --color-border: #dadde1;
  --color-light-grey: #f2f4f7;
  --color-bg-light: #f7f7f7;
  --color-white: #ffffff;

  /* fonts */
  --font-main: "Manrope", sans-serif;
  --font-alt: "Inter", sans-serif;

  /* dt container */
  --container-width: 1260px;

  --transition-default: 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--color-blue);
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: var(--color-white);
  border-radius: 12px;
  transition: background-color var(--transition-default);
}

button:hover {
  background-color: var(--color-blue-dark);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  outline: none;
  border: none;
  background: var(--color-bg-light);
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-white);
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

span {
  color: var(--color-blue);
}

body {
  font-family: var(--font-main);
  color: var(--color-dark);
  background-color: var(--color-white);
  line-height: 1.25;
  font-size: 16px;
  font-weight: 500;
}

.container {
  max-width: var(--container-width);
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
